@import url(https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
* {
    box-sizing:border-box

}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: white;
    justify-content: center;
    align-items: center;
}

.logo {
    flex: 30%;
    text-align: center;
    margin-left: 10px; 
    

}

.logo h1 {
    font-family: 'Lobster', sans-serif;
    color: #180F4A;
    font-size: 50px;
    text-align: left;
    margin-left: 135px;
    
}

.menu {
    flex: 50%;
    text-align: right;
    padding: 20px;
}

.menu a{
    color: #180F4A;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color: #ff2978;
    border-top: 4px solid #180F4A;
    transition: all 0.5s ease;
    
}

#botao{
    background: #180F4A;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background: #ff2978;
    transition: all 0.5s ease;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    background: white;
}

.headline {
    flex: 40%;
    margin-left: 10%;
    /* border: 1px solid black; */
}

.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #180F4A;
    padding: 0;
    margin: 0;
}

.headline p {
    color: gray;
    text-align: left;
}

.contact-btn {
    background: #ff2978;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    
}

.contact-btn:hover {
    background: #180F4A;
    transition: all 0.5s ease;
}

.headline-img {
    flex: 40%;
    margin-right: 10%;
    /* border: 1px solid palevioletred; */
    text-align: center;
    border-radius: 20px;
}

section {
    margin-top: 80px;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    /* height: 400px; */
    display: inline-block;
    text-align: center;
    padding: 5%;

}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', sans-serif;
    font-weight: bold;
    color: #180F4A;

}

.servicos {
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.card:hover{
    background: hwb(338 11% 34%);
    color: #180F4A;
    transition: all 0.5s ease;
}

footer {
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(#180F4a,#090422, black);
    text-align: center;
    border-top: 5px solid #ff2978;
    font-family: 'Lobster', sans-serif;
}

.logo-rodape {
    padding: 100px;
}

.agencia {
    color: white;
}
